{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Photo Source" | translate("photo") }}{% endblock %}

{% block content %}
<h1>{{ "Photo Source" | translate("photo") }}</h1>
<p>
{{ "This can be a URL that will take visitors to the original resource or it can be a human-readable description of the photo's origin." | translate("photo") }}
</p>
{% endblock %}
