{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Photo Source" | translate("photo") }}{% endblock %}

{% block content %}
<h1>{{ "Photo Source" | translate("photo") }}</h1>
<p>
{{ "This is a URL that will take visitors to the original resource." | translate("photo") }}
</p>
{% endblock %}
