{% extends "layouts/default.twig" %}

{% block content %}
{% if posts.paginated is defined and posts.paginated is not empty %}
<div class="ribbon">
<h3 class="ribbon">{{ "Posts in category &#8220;%s&#8221;" | translate | format(category | fix) }}</h3>
</div>
{% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% endfor %}
{% elseif reason is defined %}
<div class="ribbon">
<h3 class="ribbon">
{% if reason == "category_not_found" %}
{{ "The category you requested does not exist" | translate }}
{% elseif reason == "no_category_requested" %}
{{ "No category requested" | translate }}
{% endif %}
</h3>
</div>
{% endif %}
{% endblock %}
