{% extends "layouts/default.twig" %}

{% block content %}
{% if posts.paginated is defined and posts.paginated is not empty %}
<div class="ribbon">
<h3 class="ribbon">{{ "Posts tagged with %s" | translate | format(tag | fix) }}</h3>
</div>
{% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% endfor %}
{% elseif reason is defined %}
<div class="ribbon">
<h3 class="ribbon">
{% if reason == "tag_not_found" %}
{{ "There are no posts with the tag you specified" | translate }}
{% elseif reason == "no_tag_specified" %}
{{ "You did not specify a tag" | translate }}
{% endif %}
</h3>
</div>
{% endif %}
{% endblock %}
