{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Tagging Posts" | translate("tags") }}{% endblock %}

{% block content %}
<h1>{{ "Tagging Posts" | translate("tags") }}</h1>
<p>
{{ "A tag is a word or phrase that you want to associate with your blog post. A good use for tags is to reference people, things, or topics you mention in a post. Multiple comma separated tags can be added to a post, and if you add the same tag to more than one post, your visitors will be able to filter your blog to easily view all the posts with that tag applied." | translate("tags") }}
</p>
{% endblock %}
