{% extends "layout.twig" %}

{% block title %}${ "Delete Comment" | translate("comments") }{% endblock %}

{% block content %}
            <h1>${ "Are you sure you want to delete this comment?" | translate("comments") }</h1>
            <form class="delete" action="{% admin "destroy_comment" %}" method="post" accept-charset="utf-8">
                <fieldset>
                    <blockquote>
                        <h2>${ "Excerpt" | translate }</h2>
                        ${ comment.body | truncate(500) }
                    </blockquote>
                    <br />

                    <div class="center">
                        <button name="destroy" value="indubitably" class="center boo">${ "DESTROY!" | translate }</button>
                        <button name="destroy" value="bollocks" type="submit" class="yay">${ "Cancel" | translate }</button>
                    </div>

                    <input type="hidden" name="id" value="$comment.id" id="id" />
                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
                </fieldset>
            </form>
{% endblock %}
