{% extends "layout.twig" %}

{% block title %}${ "Edit Comment" | translate }{% endblock %}

{% block content %}
<h1>${ "Editing Comment" | translate }</h1>
<form id="edit_form" action="{% admin "update_comment" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
<fieldset>
<p class="main_options">
<label for="body">
${ "Body" | translate }
</label>
<textarea rows="12" name="body" id="body" data-preview="markup_text">${ comment.body | escape }</textarea>
</p>
<div id="more_options" class="more_options">
<p class="more_options_option">
<label for="author">${ "Author" | translate }</label>
<input class="text" type="text" name="author" value="${ comment.author | escape(true) }" id="author">
</p>
<p class="more_options_option">
<label for="author_email">${ "Author Email" | translate }</label>
<input class="text" type="text" name="author_email" value="${ comment.author_email | escape(true) }" id="author_email">
</p>
<p class="more_options_option">
<label for="author_url">${ "Author Website" | translate }</label>
<input class="text" type="text" name="author_url" value="${ comment.author_url | escape(true) }" id="author_url">
</p>
{% if visitor.group.can("edit_comment") %} {# If they can edit all comments, not just this one. #}
<p class="more_options_option">
<label for="created_at">${ "Timestamp" | translate }</label>
<input class="text" type="text" name="created_at" value="${ comment.created_at | strftime }" id="created_at">
</p>
<p class="more_options_option">
<label for="status">${ "Status" | translate }</label>
<select name="status" id="status">
<option value="approved"${ comment.status | option_selected("approved") }>${ "Approved" | translate }</option>
<option value="denied"${ comment.status | option_selected("denied") }>${ "Denied" | translate }</option>
<option value="spam"${ comment.status | option_selected("spam") }>${ "Spam" | translate }</option>
<option value="pingback"${ comment.status | option_selected("pingback") }>${ "Pingback" | translate }</option>
</select>
</p>
{% endif %}
{% if site.email_correspondence %}
<p class="more_options_option">
<label for="notify">${ "Email Notifications" | translate }</label>
<input type="checkbox" name="notify" id="notify"${ comment["notify"] | checked }>
</p>
{% endif %}
${ trigger.call("edit_comment_options", comment) }
<hr>
</div>
<input type="hidden" name="hash" value="${ ip | token }" id="hash">
<input type="hidden" name="id" value="$comment.id" id="id">
<div class="buttons confirmation">
<button type="submit" class="yay" accesskey="s">
<img src="$theme_url/images/icons/success.svg" alt="success">${ "Save" | translate }
</button>
${ comment.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="delete">'~ ("Delete" | translate), null, null, "button boo") }
</div>
</fieldset>
</form>
{% endblock %}
