{% extends "layout.twig" %}

{% block title %}${ "Manage Comments" | translate("comments") }{% endblock %}

{% block content %}
            <form class="detail" action="index.php" method="get" accept-charset="utf-8">
                <fieldset>
                    <input type="hidden" name="action" value="manage_comments">
                    <div class="detail_single">
                        <h3>
                            ${ "Search&hellip;" | translate }
                            <a href="{% admin "help&id=filtering_results" %}" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="help" onerror="this.removeAttribute('onerror'); this.src='$theme_url/images/icons/help.svg'"></a>
                        </h3>
                        <input class="text" type="text" name="query" value="${ GET.query | escape }" id="query">
                        <button type="submit" class="inline">${ "Search" | translate }</button>
                    </div>
                    <div class="clear"></div>
                </fieldset>
            </form>
            <h2>{% if GET.query %}${ "Search Results" | translate }{% else %}${ "Last 25 Comments" | translate("comments") }{% endif %}</h2>
            <form action="{% admin "bulk_comments" %}" method="post">
                <table>
                    <thead>
                        <tr class="head">
                            <th class="toggler"></th>
                            <th class="comment_post">${ "Post" | translate("comments") }</th>
                            <th class="comment_author">${ "Author" | translate("comments") }</th>
                            <th class="comment_date">${ "Added" | translate("comments") }</th>
                            <th class="comment_status">${ "Status" | translate("comments") }</th>
                            ${ trigger.call("manage_comments_column_header") }
                            <th class="controls" colspan="2">${ "Controls" | translate }</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments.paginated %}
                        <tr id="comment_$comment.id" class="comment $comment.status">
                            <td rowspan="2" class="checkbox">
                                <input type="checkbox" name="comment[$comment.id]" value="" id="comment_checkbox_$comment.id">
                            </td>
                            <td class="comment_post main">
                                {% if not comment.post.no_results %}
                                <a href="$comment.post.url#comment_$comment.id">${ comment.post.title | truncate }</a>
                                {% endif %}
                            </td>
                            <td class="comment_author">
                                ${ comment.user.full_name | fallback(comment.user.login) | fallback(comment.author) }
                            </td>
                            <td class="comment_date">
                                ${ comment.created_at | strftime }
                            </td>
                            <td class="comment_status">
                                ${ comment.status | capitalize | translate("comments") }
                            </td>
                            ${ trigger.call("manage_comments_column", comment) }
                            {% if comment.editable and comment.deletable %}
                            <td class="controls">${ comment.edit_link('<img src="'~ theme_url ~'/images/icons/edit.svg" alt="'~ ("edit" | translate) ~'">') }</td>
                            <td class="controls">${ comment.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="'~ ("delete" | translate) ~'">') }</td>
                            {% elseif comment.editable or comment.deletable %}
                            ${ comment.edit_link('<img src="'~ theme_url ~'/images/icons/edit.svg" alt="'~ ("edit" | translate) ~'">', '<td class="controls" colspan="2">', '</td>') }
                            ${ comment.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="'~ ("delete" | translate) ~'">', '<td class="controls" colspan="2">', '</td>') }
                            {% endif %}
                        </tr>
                        <tr class="comment_excerpt">
                            <td colspan="100%">${ comment.body | truncate(100) }</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="100%"><span class="sub">${ "(none)" | translate }</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if visitor.group.can("edit_comment", "delete_comment") %}
                <div class="controls">
                    <h4>${ "With selected:" | translate("comments") }</h4>
                    <button name="deny">
                        <img src="$theme_url/images/icons/deny.svg" alt="deny"> ${ "deny" | translate("comments") }
                    </button>
                    <button class="yay" name="approve">
                        <img src="$theme_url/images/icons/success.svg" alt="approve"> ${ "approve" | translate("comments") }
                    </button>
                    <button name="spam">
                        <img src="$theme_url/images/icons/bug.svg" alt="spam"> ${ "mark as spam" | translate("comments") }
                    </button>
                    <button class="boo" name="delete">
                        <img src="$theme_url/images/icons/delete.svg" alt="delete"> ${ "delete" | translate("comments") }
                    </button>
                </div>
                {% endif %}
            </form>
            {% if comments.paginated and comments.pages > 1 %}
            <div class="pagination">
                $comments.prev_link
                <span class="pages">${ "Page %d of %d" | translate | format(comments.page, comments.pages) }</span>
                $comments.next_link
            </div>
            {% endif %}
{% endblock %}
