{% extends "layout.twig" %}

{% block title %}${ "Manage Spam" | translate("comments") }{% endblock %}

{% block content %}
            <form class="filters" action="index.php" method="get" accept-charset="utf-8">
                <fieldset>
                    <input type="hidden" name="action" value="manage_comments">
                    <div role="search" class="filter_item">
                        <h3>
                            ${ "Search&hellip;" | translate }
                            <a href="{% admin "help&id=filtering_results" %}" target="_blank" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="help"></a>
                        </h3>
                        <input class="text" type="text" name="query" value="${ GET.query | escape }" id="query">
                        <button type="submit" class="inline">${ "Search" | translate }</button>
                        <a class="button boo" href="{% admin "purge_spam" %}"><img src="$theme_url/images/icons/deny.svg" alt="deny">${ "Delete All (%d)" | translate("comments") | format(comments.total) }</a>
                    </div>
                </fieldset>
            </form>
            <h2>{% if GET.query %}${ "Search Results" | translate }{% else %}${ "Spam" | translate("comments") }{% endif %}</h2>
            <form action="{% admin "bulk_comments&from=spam" %}" method="post">
                <table class="interactive">
                    <thead>
                        <tr class="head">
                            <th class="toggler"></th>
                            <th class="comment_post">${ "Post" | translate("comments") }</th>
                            <th class="comment_auhtor">${ "Author" | translate("comments") }</th>
                            <th class="comment_date">${ "Added" | translate("comments") }</th>
                            ${ trigger.call("manage_comments_column_header") }
                            <th class="controls" colspan="2">${ "Controls" | translate }</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for comment in comments.paginated %}
                        <tr id="comment_$comment.id" class="comment $comment.status">
                            <td rowspan="2" class="checkbox">
                                <input type="checkbox" name="comment[$comment.id]" value="" id="comment_checkbox_$comment.id">
                            </td>
                            <td class="comment_post main"><a href="$comment.post.url#comment_$comment.id">${ comment.post.title | truncate }</a></td>
                            <td class="comment_auhtor">${ comment.user.full_name | fallback(comment.user.login) | fallback(comment.author) }</td>
                            <td class="comment_date">${ comment.created_at | strftime }</td>
                            ${ trigger.call("manage_comments_column", comment) }
                            {% if comment.editable and comment.deletable %}
                        <td class="controls">${ comment.edit_link('<img src="'~ theme_url ~'/images/icons/edit.svg" alt="'~ ("edit" | translate) ~'">') }</td>
                        <td class="controls">${ comment.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="'~ ("delete" | translate) ~'">') }</td>
                        {% elseif comment.editable or comment.deletable %}
                        ${ comment.edit_link('<img src="'~ theme_url ~'/images/icons/edit.svg" alt="'~ ("edit" | translate) ~'">', '<td class="controls" colspan="2">', '</td>') }
                        ${ comment.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="'~ ("delete" | translate) ~'">', '<td class="controls" colspan="2">', '</td>') }
                        {% endif %}
                        </tr>
                        <tr class="comment_excerpt">
                            <td colspan="5">${ comment.body | truncate(100) }</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td class="placeholder"><span class="sub">${ "(none)" | translate }</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="controls">
                    <h4>${ "With selected:" | translate("comments") }</h4>
                    <button name="deny">
                        <img src="$theme_url/images/icons/deny.svg" alt="deny"> ${ "Deny" | translate("comments") }
                    </button>
                    <button class="yay" name="approve">
                        <img src="$theme_url/images/icons/success.svg" alt="approve"> ${ "Approve" | translate("comments") }
                    </button>
                    <button class="boo" name="delete">
                        <img src="$theme_url/images/icons/delete.svg" alt="delete"> ${ "Delete" | translate("comments") }
                    </button>
                </div>
            </form>
            {% if comments.paginated and comments.pages > 1 %}
            <div class="pagination">
                <span class="pages">${ "Page %d of %s" | translate | format(comments.page, comments.final_link(comments.pages)) }</span>
                $comments.prev_link
                $comments.next_link
            </div>
            {% endif %}
{% endblock %}
