        <li id="comment_$comment.id">
          {% if comment.parent_id > 0 %}
          <h3>${ "%s replied:" | translate | format(comment.author_link) }</h3>
          {% else %}
          <h3>${ "%s said:" | translate | format(comment.author_link) }</h3>
          {% endif %}
          <section class="comment">
          {% if comment.status == "denied" %}
          <em>${ "This comment is awaiting moderation." | translate }</em>
          {% else %}
          $comment.body
          {% endif %}
          </section>
          <div class="doaction">
            ${ comment.edit_link("Edit" | translate, "") }
            ${ comment.delete_link("Delete" | translate, "") }
            ${ comment.replyto_link("Reply" | translate, "") }
          </div>
          <div class="metadata">
            <cite>
              ${ "<a href=\"%s\" class=\"permalink\">%s</a>" | translate | format(comment.post.url ~ "#comment_"~comment.id, comment.created_at | strftime("%d %B, %Y, at %I:%M %p" | translate)) }
            </cite>
          </div>
        </li>