{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Write" | translate }}{% endblock %}

{% block content %}
<form id="write_form" action="{{ url('add_post') }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
<fieldset role="presentation">
{% include "partials" ~ DIR ~ "post_fields.twig" %}
<input type="hidden" name="feather" value="{{ feather.safename | fix(true) }}" id="feather">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
