{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Add Page" | translate }}{% endblock %}

{% block content %}
<form id="write_form" class="page" action="{{ url('add_page') }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
<fieldset>
{% include "partials" ~ DIR ~ "page_fields.twig" %}
<input type="hidden" name="hash" value="{{ ip | token }}" id="hash">
</fieldset>
</form>
{% endblock %}
