{% extends "layout.twig" %}

{% block title %}${ "Delete Tag" | translate("tags") }{% endblock %}

{% block content %}
            <h1>${ "Are you sure you want to delete the tag &#8220;%s&#8221;?" | translate("tags") | format(tag.name | escape) }</h1>
            <form class="delete" action="{% admin "destroy_tag" %}" method="post" accept-charset="utf-8">
                <fieldset>
                    <div class="confirmation">
                        <button name="destroy" value="indubitably" class="boo">
                            <img src="$theme_url/images/icons/delete.svg" alt="success">${ "Delete!" | translate }
                        </button>
                        <button name="destroy" value="bollocks" type="submit" class="yay">
                            <img src="$theme_url/images/icons/cancel.svg" alt="cancel">${ "Cancel" | translate }
                        </button>
                    </div>
                    <input type="hidden" name="clean" value="$tag.clean" id="tag-clean">
                    <input type="hidden" name="name" value="$tag.name" id="tag-name">
                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash">
                </fieldset>
            </form>
{% endblock %}
