{% extends "layout.twig" %}

{% block title %}${ "Edit Tag" | translate("tags") }{% endblock %}

{% block content %}
            <h2>${ "Edit Tag &#8220;%s&#8221;" | translate("tags") | format(tag.name) }</h2>
            <form class="detail" action="{% admin "update_tag" %}" method="post" accept-charset="utf-8">
                <fieldset>
                    <p>
                        <input type="text" name="name" value="${ tag.name | escape }" id="name" class="big" size="${ tag.name | length + 10 }">
                        <button class="yay" name="delete">
                            <img src="$theme_url/images/icons/success.svg" alt="delete"> ${ "Rename" | translate("tags") }
                        </button>
                    </p>
                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash">
                    <input type="hidden" name="original" value="${ tag.name | escape }" id="clean">
                </fieldset>
            </form>
{% endblock %}
