@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
:root {
    color-scheme: light;
    --virgula-pure-white: #ffffff;
    --virgula-pure-black: #000000;
    --virgula-inky-black: #0b0c0c;
    --virgula-strong-blue: #1d70b8;
    --virgula-strong-red: #d4351c;
    --virgula-light-red: #f2dcd9;
    --virgula-strong-green: #00703c;
    --virgula-light-green: #deede6;
    --virgula-strong-yellow: #ffdd00;
    --virgula-dark-blue: #003078;
    --virgula-dark-purple: #4c2c92;
    --virgula-light-grey: #f3f2f1;
    --virgula-medium-grey: #505a5f;
    --virgula-border-grey: #b1b4b6;
}
*::selection {
    color: var(--virgula-inky-black);
    background-color: var(--virgula-strong-yellow);
}
*::target-text {
    color: var(--virgula-pure-white);
    background-color: var(--virgula-inky-black);
}
html {
    font-size: 16px;
}
body {
    font-family: "Open Sans webfont", serif;
    font-size: 1rem;
    color: var(--virgula-inky-black);
    line-height: 1.5;
    tab-size: 4;
    max-width: 80ch;
    margin: 1rem auto;
    padding: 0rem 1.7rem;
    background-color: var(--virgula-pure-white);
}
body.preview {
    margin: 1rem;
    padding: 0rem;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
strong {
    font: inherit;
    font-weight: bold;
}
address {
    font: inherit;
}
em, dfn, cite {
    font: inherit;
    font-style: italic;
}
figure, blockquote {
    margin: 1rem;
    font: inherit;
    font-size: 1rem;
    page-break-inside: avoid;
}
blockquote {
    font-style: italic;
}
figcaption {
    font-size: 0.7em;
    margin: 1rem 0rem;
}
aside {
    max-width: 40%;
    float: right;
    float: inline-end;
    font-style: italic;
    margin: 0rem;
    margin-inline-start: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--virgula-light-grey);
    border-left: 2px solid var(--virgula-border-grey);
}
blockquote em,
aside em {
    font-style: normal;
}
pre {
    font-family: "Cousine webfont", monospace;
    font-size: 0.85em;
    background-color: var(--virgula-light-grey);
    margin: 1rem 0rem;
    overflow-x: auto;
    white-space: pre;
}
code {
    font-family: "Cousine webfont", monospace;
    font-size: 0.85em;
    background-color: var(--virgula-light-grey);
    padding: 0.1em 0.3em 0em 0.3em;
    vertical-align: bottom;
    white-space: break-spaces;
}
pre > code {
    font-size: 0.85rem;
    display: block;
    padding: 0.3rem 0.7rem;
    white-space: inherit;
}
small {
    font-size: 0.7em;
    color: var(--virgula-medium-grey);
}
mark {
    color: var(--virgula-inky-black);
    background-color: var(--virgula-strong-yellow);
}
del, s {
    font: inherit;
    text-decoration: line-through;
    text-decoration-thickness: 0.125em;
}
sup, sub {
    line-height: 1;
    font-size: 0.7em;
}
@counter-style virgula {
  system: cyclic;
  symbols: "/";
  prefix: "";
  suffix: "";
}
ol,
ol.comments ol {
    margin: 1rem 0rem;
    padding: 0rem;
    list-style-type: decimal;
    list-style-position: outside;
}
ul,
ol.comments ul {
    margin: 1rem 0rem;
    padding: 0rem;
    list-style-type: disc;
    list-style-position: outside;
}
ul ul,
ol.comments ul ul {
    list-style-type: circle;
}
ol ol,
ol.comments ol ol {
    list-style-type: lower-latin;
}
html[lang="ar"] ol ol,
html[lang="ar"] ol.comments ol ol {
    list-style-type: arabic-indic;
}
html[lang="he"] ol ol,
html[lang="he"] ol.comments ol ol {
    list-style-type: hebrew;
}
ol.comments {
    list-style: none;
}
ol.comments > li {
    margin: 0rem;
    border-bottom: 3px dotted var(--virgula-border-grey);
}
ul.navigation {
    list-style: none;
    display: block;
    width: 100%;
    position: relative;
    left: -0.7rem;
    padding: 0.3rem 0.7rem;
    margin: 1rem 0rem;
    background-color: var(--virgula-light-grey);
    border: 1px solid var(--virgula-border-grey);
    border-radius: 0.1rem;
}
ul.navigation > li {
    margin: 0rem;
    display: inline list-item;
}
ul.navigation > li + li {
    list-style-type: virgula;
}
li {
    margin: 0.5rem 2rem;
}
li::marker {
    color: var(--virgula-medium-grey);
}
details {
    margin: 1rem 0rem;
}
summary {
    margin: 0rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--virgula-light-grey);
    cursor: pointer;
    list-style: none;
}
details > summary {
    margin: 0rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--virgula-light-grey);
    cursor: pointer;
    list-style: none;
}
details > summary::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 0.125em;
    width: 1em;
    height: 1em;
    margin-inline-end: 0.7rem;
    background: url(../images/expand.svg) center/1em no-repeat
}
details[open] > summary {
    margin-bottom: 1em;
}
details[open] > summary::before {
    top: 0.25em;
    background: url(../images/collapse.svg) center/1em no-repeat
}
main > details > summary {
    width: 100%;
    position: relative;
    left: -0.7rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--virgula-light-grey);
    border: 1px solid var(--virgula-border-grey);
    border-radius: 0.1rem;
}
table {
    border-collapse: collapse;
    border-spacing: 0em;
    width: 100%;
    margin: 1em 0em;
    overflow-x: scroll;
}
table th {
    text-align: start;
    padding: 0.3rem 0.7rem;
    font: inherit;
    font-weight: bold;
    background-color: var(--virgula-light-grey);
    border: 1px solid var(--virgula-border-grey);
}
table td {
    text-align: start;
    padding: 0.3rem 0.7rem;
    font: inherit;
    border: 1px solid var(--virgula-border-grey);
}
hr {
    width: 100%;
    clear: both;
    border: none;
    border-top: 3px dotted var(--virgula-border-grey);
    margin: 2rem 0rem;
}
iframe {
    max-width: 100%;
    border: none;
    margin: 1rem 0rem;
}
iframe.content_embed {
    width: 100%;
    aspect-ratio: 16 / 9;
}
iframe.spotify_embed {
    height: 152px;
    aspect-ratio: unset;
}
iframe.bandcamp_m_embed {
    max-width: 700px;
    aspect-ratio: 1 / 1;
}
iframe.bandcamp_s_embed {
    max-width: 700px;
    height: 42px;
    aspect-ratio: unset;
}
iframe.bandcamp_l_embed {
    max-width: 700px;
    aspect-ratio: 2 / 3;
}
a:link {
    color: var(--virgula-strong-blue);
    text-decoration: underline;
    text-underline-offset: 0.125em;
    text-decoration-thickness: 0.0625em;
}
a:visited {
    color: var(--virgula-dark-purple);
}
a:hover,
summary:hover {
    color: var(--virgula-dark-blue);
}
a:focus {
    outline: none;
    text-decoration-style: double;
}
a:active,
summary:active {
    color: var(--virgula-inky-black);
}
label {
    display: block;
    margin: 0.3rem 0rem;
}
select[disabled],
textarea[disabled],
input[disabled],
button[disabled], {
    cursor: not-allowed;
    opacity: 0.33;
}
select, input {
    box-sizing: border-box;
    display: block;
    width: 30ch;
    max-width: 100%;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.3rem 0.7rem;
    background: none;
    font: inherit;
    color: var(--virgula-inky-black);
    background-color: var(--virgula-pure-white);
    border: 2px solid var(--virgula-pure-black);
    border-radius: 0em;
}
html[dir="ltr"] select {
    appearance: none;
    padding-right: 1.6em;
    background-image: url(../images/select.svg);
    background-size: 1rem;
    background-position: center right 0.3em;
    background-repeat: no-repeat;
}
html[dir="rtl"] select {
    appearance: none;
    padding-left: 1.6em;
    background-image: url(../images/select.svg);
    background-size: 1rem;
    background-position: center left 0.3em;
    background-repeat: no-repeat;
}
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    padding: 0em;
}
input[type="radio"] {
    border-radius: 50%;
}
input[type="checkbox"]:checked {
    background-image: url(../images/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
}
input[type="radio"]:checked {
    background-image: url(../images/radio.svg);
    background-position: center;
    background-repeat: no-repeat;
}
input::placeholder {
    color: var(--virgula-inky-black);
    opacity: 1;
}
input:invalid {
    border-color: var(--virgula-strong-red);
    box-shadow: none;
}
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 20ex;
    font: inherit;
    color: var(--virgula-inky-black);
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--virgula-pure-white);
    border: 2px solid var(--virgula-pure-black);
    border-radius: 0em;
    resize: vertical;
}
button {
    font: inherit;
    cursor: pointer;
}
nav, main, section, footer,
form, details, p {
    margin: 1rem 0rem;
}
article {
    margin: 2rem 0rem;
}
footer {
    clear: both;
}
header {
    font-size: 0.7rem;
    margin: 0rem;
    padding: 0.3rem 0rem;
    border-top: 4px solid var(--virgula-pure-black);
    border-bottom: 2px solid var(--virgula-border-grey);
}
header > * {
    font-size: 1em;
    margin: 0rem;
    padding: 0rem;
}
div.doaction {
    margin: 2rem 0rem;
}
nav.traversal:not(:has(a)) {
    display: none;
}
div.footnotes {
    font-size: 0.7em;
}
form.search_box {
    position: relative;
    max-width: 30ch;
}
input#search_field {
    padding: 0.3rem 0rem;
    padding-inline-end: 2rem;
    border: none;
    border-bottom: 2px solid var(--virgula-border-grey);
}
button#search_submit {
    position: absolute;
    width: 2rem;
    height: 100%;
    inset-inline-end: 0px;
    bottom: 0px;
    padding: 0rem;
    color: transparent;
    background: var(--virgula-pure-white) url(../images/search.svg) center no-repeat;
    background-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--virgula-border-grey);
}
input#search_field:focus,
button#search_submit:focus {
    outline: none;
    border-bottom: 2px solid var(--virgula-pure-black);
}
div.filter {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
div[role="alert"],
div[role="status"] {
    width: 100%;
    position: relative;
    left: -0.7rem;
    font-weight: bold;
    padding: 0.3rem 0.7rem;
    margin: 1rem 0rem;
    background-color: var(--virgula-light-grey);
    border: 1px solid var(--virgula-border-grey);
    border-radius: 0.1rem;
}
div.notice {
    color: var(--virgula-strong-green);
    border-color: var(--virgula-strong-green);
    background-color: var(--virgula-light-green);
}
div.warning {
    color: var(--virgula-strong-red);
    border-color: var(--virgula-strong-red);
    background-color: var(--virgula-light-red);
}
div.doaction a, button {
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0em;
    color: var(--virgula-pure-white);
    background-color: var(--virgula-strong-blue);
}
div.doaction a:hover,
button:hover,
div.doaction a:focus,
button:focus {
    outline: none;
    background-color: var(--virgula-dark-blue);
}
div.doaction a:active,
button:active {
    background-color: var(--virgula-pure-black);
}
img {
    border-style: none;
    margin: 0em;
    padding: 0em;
}
section img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border: 2px solid var(--virgula-light-grey);
}
section.photo img {
    width: 100%;
}
article.video video,
article.audio audio {
    width: 100%;
}
*:focus,
section.photo > a:focus,
section a:has(img):focus {
    outline: var(--virgula-strong-yellow) solid 2px;
    outline-offset: 2px;
}
a.likes > img,
a.likes > svg {
    display: inline-block;
    height: 1.25em;
}
a.likes:hover > img,
a.likes:hover > svg,
a.likes:focus > img,
a.likes:focus > svg {
    animation: like_image 500ms alternate ease infinite;
}
@keyframes like_image {
    from {
        transform: scale(1.0);
    }
    to {
        transform: scale(0.8);
    }
}
#comment_shim {
    display: none;
}
.ajax_loading * {
    animation: ajax_loading 1s alternate infinite ease-in-out;
}
@keyframes ajax_loading {
    from {
        filter: opacity(90%) blur(1px);
    }
    to {
        filter: opacity(80%) blur(2px);
    }
}
.ajax_loading .doaction {
    visibility: hidden;
}
@media screen and (max-width: 559px) {
    aside {
        float: none;
        max-width: 100%;
        margin: 1rem 0rem;
    }
}
@media (prefers-reduced-motion) {
    .ajax_loading * {
        animation: ajax_loading 5s alternate infinite ease-in-out;
    }
}
