@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('../../../fonts/Cousine-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
html {
    font-size: 16px;
}
html[lang="ar"],
html[lang="he"] {
    direction: rtl;
}
*::selection {
    color: #0b0c0c;
    background-color: #ffdd00;
}
body {
    font-family: "Open Sans webfont", serif;
    font-size: 1rem;
    color: #0b0c0c;
    line-height: 1.5;
    max-width: 80ch;
    margin: 1rem auto;
    padding: 0rem 1rem;
    background-color: #ffffff;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    margin: 1rem 0rem;
}
h3[role="alert"],
h3[role="status"] {
    font-size: 0.7rem;
    padding: 0.3rem 0.7rem;
    background-color: #f3f2f1;
    border: 1px solid #b1b4b6;
    border-radius: 0.1rem;
}
h3.notice {
    color: #00703c;
    border-color: #00703c;
    background-color: #deede6;
}
h3.warning {
    color: #d4351c;
    border-color: #d4351c;
    background-color: #f2dcd9;
}
strong {
    font: inherit;
    font-weight: bold;
}
em, dfn {
    font: inherit;
    font-style: italic;
}
figure, blockquote {
    margin: 1rem;
    font: inherit;
    font-size: 1.5rem;
    font-style: italic;
    page-break-inside: avoid;
}
figcaption {
    margin: 1rem 0rem;
    font-size: 1rem;
}
pre {
    font-family: "Cousine webfont", monospace;
    font-size: 0.9em;
    margin: 1rem 0rem;
    overflow-x: auto;
}
code {
    font-family: "Cousine webfont", monospace;
    font-size: 0.85em;
    background-color: #f3f2f1;
    padding: 0.1em 0.3em 0em 0.3em;
    vertical-align: bottom;
}
pre > code {
    font-size: 0.85rem;
    display: block;
    padding: 0.3rem 0.7rem;
}
small {
    font-size: 0.7em;
    color: #505a5f;
}
sup, sub {
    font-size: 0.7em;
}
ol {
    margin: 1rem 0rem;
    padding: 0rem;
    list-style-type: decimal;
    list-style-position: outside;
}
ul {
    margin: 1rem 0rem;
    padding: 0rem;
    list-style-type: disc;
    list-style-position: outside;
}
ul ul {
    list-style-type: circle;
}
ol ol {
    list-style-type: lower-latin;
}
html[lang="ar"] ol ol {
    list-style-type: arabic-indic;
}
html[lang="he"] ol ol {
    list-style-type: hebrew;
}
ul.navigation {
    list-style: none;
    display: inline;
}
ul.navigation > li {
    margin: 0rem;
    display: inline;
}
ul.navigation > li:not(:last-child):after {
    content: " / ";
}
li {
    margin: 0.5rem 0rem 0.5rem 2rem;
}
li::marker {
    color: #505a5f;
}
summary {
    color: #ffffff;
    background-color: #505a5f;
    margin: 0rem;
    padding: 0.3rem 0.7rem;
    cursor: pointer;
    list-style-position: inside;
}
summary:hover,
summary:focus {
    background-color: #0b0c0c;
}
table {
    border-collapse: collapse;
    border-spacing: 0em;
    width: 100%;
    margin: 1em 0em;
    overflow-x: scroll;
}
table thead tr th {
    text-align: start;
    padding: 0.3rem 0.7rem;
    font-weight: bold;
    background-color: #f3f2f1;
    border: 1px solid #b1b4b6;
}
table tbody tr td {
    text-align: start;
    padding: 0.3rem 0.7rem;
    border: 1px solid #b1b4b6;
}
hr {
    width: 100%;
    border: none;
    clear: both;
    border-top: 1px solid #b1b4b6;
    margin: 2rem 0rem;
}
a:link {
    color: #1d70b8;
    text-decoration: none;
}
a:visited {
    color: #4c2c92;
}
a:hover {
    color: #003078;
}
a:focus,
a:focus code {
    outline: none;
    background-color: #ffdd00;
}
a:active {
    color: #0b0c0c;
}
label {
    display: inline;
    margin: 0rem;
}
select, input {
    box-sizing: border-box;
    display: block;
    width: 30ch;
    max-width: 100%;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.3rem 0.7rem;
    background: none;
    font: inherit;
    font-size: inherit;
    color: #0b0c0c;
    background-color: #ffffff;
    border: 2px solid #0b0c0c;
    border-radius: 0em;
}
input::placeholder {
    color: #0b0c0c;
    opacity: 1;
}
input:invalid {
    border-color: #d4351c;
    box-shadow: none;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 20ex;
    font: inherit;
    font-size: inherit;
    color: #0b0c0c;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.3rem 0.7rem;
    background-color: #ffffff;
    border: 2px solid #0b0c0c;
    border-radius: 0em;
    resize: vertical;
}
button {
    font: inherit;
    font-size: inherit;
    cursor: pointer;
}
nav, main, article,
section, footer,
form, details, p {
    margin: 1rem 0rem;
}
main > article:first-child {
    margin-top: 4rem;
}
details[open] + article.post,
article.post + article.post {
    padding-top: 4rem;
    border-top: 2px solid #f3f2f1;
    background-image: linear-gradient(
        to bottom,
        transparent,
        transparent 0.5rem,
        #f3f2f1 0.5rem,
        #f3f2f1 0.5625rem,
        transparent 0.5625rem,
        transparent 1.0625rem,
        #f3f2f1 1.0625rem,
        #f3f2f1 1.125rem,
        transparent 1.125rem,
        transparent 1.625rem,
        #f3f2f1 1.625rem,
        #f3f2f1 1.6875rem,
        transparent 1.6875rem,
        transparent 2.1875rem,
        #f3f2f1 2.1875rem,
        #f3f2f1 2.25rem,
        transparent 2.25rem,
        transparent 2.75rem,
        #f3f2f1 2.75rem,
        #f3f2f1 2.8125rem,
        transparent 2.8125rem,
        transparent 3.3125rem,
        #f3f2f1 3.3125rem,
        #f3f2f1 3.375rem,
        transparent 3.375rem
    );
}
article.fragment + article.fragment {
    border-top: 2px solid #f3f2f1;
}
header {
    font-size: 0.7rem;
    margin: 0rem;
    padding: 0.3rem 0rem;
    border-top: 4px solid #0b0c0c;
    border-bottom: 2px solid #b1b4b6;
}
header > * {
    font-size: 1em;
    margin: 0rem;
    padding: 0rem;
}
main > details,
div.doaction,
nav.traversal {
    margin: 2rem 0rem;
}
form.search_box {
    position: relative;
    max-width: 30ch;
}
input#search_field {
    padding: 0.3rem 0rem;
    border: none;
    border-bottom: 2px solid #b1b4b6;
}
button#search_submit {
    position: absolute;
    width: 2rem;
    height: 100%;
    right: 0px;
    bottom: 0px;
    padding: 0rem;
    color: transparent;
    background: #ffffff url(../images/search.svg) center no-repeat;
    background-size: 1rem;
    border: none;
    border-bottom: 2px solid #b1b4b6;
}
input#search_field:focus,
button#search_submit:focus {
    outline: none;
    border-bottom: 2px solid #0b0c0c;
}
div.doaction a, button {
    display: inline-block;
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0em;
    color: #ffffff;
    background-color: #1d70b8;
}
div.doaction a:hover,
button:hover,
div.doaction a:focus,
button:focus {
    background-color: #003078;
}
div.doaction a:active,
button:active {
    background-color: #0b0c0c;
}
nav.traversal a {
    display: inline-block;
    white-space: nowrap;
    padding: 0.3rem 0.7rem;
    border: none;
    border-radius: 0em;
    color: #ffffff;
    background-color: #1d70b8;
}
nav.traversal a:hover,
nav.traversal a:focus {
    background-color: #003078;
}
nav.traversal a:active {
    background-color: #003078;
}
img {
    border-style: none;
    margin: 0em;
    padding: 0em;
}
section img {
    box-sizing: border-box;
    display: block;
    max-width: 100%;
    border: 1px solid #f3f2f1;
}
section.photo img {
    width: 100%;
}
*:focus,
div.doaction a:focus,
nav.traversal a:focus,
section.photo > a:focus {
    outline: #ffdd00 solid 4px;
}
#comment_shim {
    display: none;
}
#comments {
    list-style: none;
}
#comments > li {
    margin-left: 0rem;
    border-bottom: 1px solid #0b0c0c;
}
#tag_cloud > a.tag {
    padding: 0rem 0.3rem;
    background-color: #f3f2f1;
    border-radius: 0.1rem;
}
#tag_cloud > a.tag:focus {
    background-color: #ffdd00;
}
.ajax_loading {
    background-size: 10px 10px;
    filter: blur(2px) !important;
}
.ajax_loading .doaction {
    visibility: hidden;
}
