<form id="add_comment" action="{% url "add_comment" %}" method="post" accept-charset="utf-8">
{% if visitor.logged_in %}
<label for="body">${ "%s's comment" | translate | format(visitor.full_name | fallback(visitor.login)) }</label>
{% else %}
<label for="author">${ "Your name" | translate }</label>
<input type="text" name="author" value="" id="author">
<label for="email">${ "Your email" | translate }</label>
<input type="email" name="email" value="" id="email">
<label for="url">${ "Your website" | translate }</label>
<input type="url" name="url" value="" id="url">
{% if site.enable_captcha %}$captcha{% endif %}
<label for="body">${ "Your comment" | translate | format(visitor.full_name | fallback(visitor.login)) }</label>
{% endif %}
<textarea name="body" id="new_comment"></textarea>
{% if visitor.logged_in and site.email_correspondence %}
<label for="notify">${ "Notify me when others comment" | translate }</label>
<input type="checkbox" name="notify" id="notify">
{% endif %}
<div class="doaction speak">
{% if visitor.logged_in %}
<input type="hidden" name="author" value="${ visitor.full_name | fallback(visitor.login) }" id="author">
<input type="hidden" name="email" value="$visitor.email" id="email">
<input type="hidden" name="url" value="$visitor.website" id="url">
{% endif %}
<input type="hidden" name="parent_id" value="0" id="parent_id">
<input type="hidden" name="post_id" value="$post.id" id="post_id">
<button type="submit">${ "Speak" | translate }</button>
</div>
</form>
