{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
{% if posts.paginated is defined and posts.paginated is not empty %}
<h3 role="status" class="filter">{{ "Posts in category &#8220;%s&#8221;" | translate | format(category | fix) }}</h3>
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% endfor %}
{% elseif reason is defined %}
<h3 role="status" class="filter">{{ reason }}</h3>
{% endif %}
{% endblock %}
