{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
{% if posts.paginated is not empty %}
<div class="filter">{{ "Drafts" | translate }}</div>
{% endif %}
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% else %}
<div role="status" class="filter">{{ "You don't have any drafts." | translate }}</div>
{% endfor %}
{% endblock %}
