{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
<div class="filter">{{ "Posts tagged with &#8220;%s&#8221;" | translate | format(tag.name | fix) }}</div>
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% endfor %}
{% endblock %}
