.likes {
	position: relative;
	display: inline;
}
.likes a.like img, .likes a.liked img {
    vertical-align: middle;
    opacity: .8;
    margin: -2px 5px 0em 0em;
}
.likes a.like img:hover {
	opacity: 1;
}
.likes a.like:hover {
	text-decoration: none;
}
.likes div.unlike {
	display: none;
}
