div.likes {
    position: relative;
    display: inline;
}
div.likes a.likes img {
    vertical-align: middle;
}
div.likes a.likes {
    border: none;
}
div.likes a.like span.unlike {
    display: none;
}
div.likes a.liked span.like {
    display: none;
}
