{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
<article id="test" class="page"> 
<h2>Hello!</h2>
<section>
I am not the page you are looking for.
</section>
<footer>
</footer>
</article>
{% endblock %}
