{% extends "layouts/default.twig" %}

{% block content %}
  {% if archives %} {# List? (For all/yearly archives) #}
    <div class="standalone">
      {% for archive in archives %}
      {% if GET.year != null %}
      <h3 id="label_${ archive.timestamp }_archive" class="archive"><a href="$archive.url">${ archive.timestamp | strftime("%B" | translate) }</a></h3>
      {% else %}
      <h3 id="label_${ archive.timestamp }_archive" class="archive"><a href="$archive.url">${ archive.timestamp | strftime("%B %Y" | translate) }</a></h3>
      {% endif %}
      <ul aria-labelledby="label_${ archive.timestamp }_archive" class="archive">
        {% for post in archive.posts %}
          {% if post.title %}
          <li>
            <a href="$post.url">${ post.title | normalize | truncate(80) }</a>
          </li>
          {% else %}
          <li>
            <a href="$post.url">${ post.created_at | strftime("%d %b, %Y" | translate) }</a>
            {% if post.feather == "photo" %}
            <div class="photo_frame">
              ${ feathers['photo'].image_link(post, 320, null, "quality=60") }
            </div>
            {% endif %}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  {% endif %}

  {% if posts.paginated %} {# Posts? (For daily/monthly archives) #}
    {% if archive.depth == "day" %}
    <div class="ribbon">
      <h3 role="status" class="ribbon">${ "Archive of %s" | translate | format(archive.timestamp | strftime("%d %B, %Y" | translate)) }</h3>
    </div>
    {% endif %}
    {% if archive.depth == "month" %}
    <div class="ribbon">
      <h3 role="status" class="ribbon">${ "Archive of %s" | translate | format(archive.timestamp | strftime("%B %Y" | translate)) }</h3>
    </div>
    {% endif %}
    {% for post in posts.paginated %}
    {% include "feathers/" ~ post.feather ~ ".twig" %}
    {% endfor %}
  {% endif %}

  {% if not archives and not posts.paginated %} {# No results #}
    <div class="ribbon">
      <h3 role="status" class="ribbon">${ "There aren't any posts in the timeframe you specified" | translate }</h3>
    </div>
  {% endif %}
{% endblock %}
