{% extends "layouts/default.twig" %}

{% block content %}
  {% if posts.paginated %}
    <div class="ribbon">
      <h3 class="ribbon">${ "Drafts" | translate }</h3>
    </div>
  {% endif %}
  {% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
    {% else %}
    <div class="ribbon">
      <h3 class="ribbon">${ "You don't have any drafts" | translate }</h3>
    </div>
  {% endfor %}
{% endblock %}
