@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('../../../fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Hack webfont';
    src: url('../../../fonts/Hack-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hack webfont';
    src: url('../../../fonts/Hack-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Hack webfont';
    src: url('../../../fonts/Hack-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Hack webfont';
    src: url('../../../fonts/Hack-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
html {
    font-size: 16px;
}
html[lang="ar"],
html[lang="he"] {
    direction: rtl;
}
*::selection {
    color: #ffffff;
    background-color: #0070c4;
}
body {
    font-family: "Open Sans webfont", sans-serif;
    font-size: 1rem;
    color: #4e5a66;
    line-height: 1.5;
    background-color: #fcfbfa;
    margin: 0rem 2rem 2rem 16rem;
    min-width: 288px;
    max-width: 1024px;
}
body.preview {
    margin: 1rem;
}
p {
    margin: 0em 0em 1em 0em;
}
p:last-child, p:empty {
    margin-bottom: 0em;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    text-transform: none;
    margin: 0.5em 0em;
    padding: 0em;
}
h1.banner {
    font-size: 1em;
    margin: 1em 0em;
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: none;
    margin: 0.67em 0em;
    padding: 0em;
}
h2.post_title,
h2.page_title {
    text-align: center;
}
h2.page_title {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ebedec;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: none;
    margin: 1em 0em;
    padding: 0em;
}
h3.ribbon {
    font-weight: normal;
    margin: 0em;
}
h2.archive {
    margin: 2rem 0rem 0rem 0rem;
}
h4, h5, h6 {
    font-size: 1em;
    font-weight: bold;
    margin: 1em 0em;
    padding: 0em;
}
h4.archive {
    font-size: 1.33em;
    text-align: center;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ebedec;
}
h6.post_byline {
    font-weight: normal;
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #ebedec;
}
h1:first-child, h2:first-child,
h3:first-child, h4:first-child,
h5:first-child, h6:first-child {
    margin-top: 0em;
}
sup {
    vertical-align: super;
    font-size: 0.5em;
}
em {
    font: inherit;
    font-style: italic;
}
blockquote em {
    font-style: normal;
}
strong {
    font: inherit;
    font-weight: bold;
}
cite {
    font: inherit;
    color: #9ea8a8;
}
small {
    font-weight: normal;
    font-size: 0.8em;
}
blockquote {
    font-size: 1em;
    font-style: italic;
    padding: 0em 2em;
    margin: 0em 0em 1em 0em;
}
blockquote:last-child {
    margin-bottom: 0em;
}
pre {
    font-family: "Hack webfont", monospace;
    margin: 1em 0em;
    overflow-x: auto;
}
code {
    font-family: "Hack webfont", monospace;
    font-size: 0.75em;
    font-style: normal;
    color: #39434d;
    background-color: #e1e5e5;
    padding: 0.2em 0.4em;
    margin: 0.2em 0em;
    display: inline-block;
}
pre > code {
    box-sizing: border-box;
    width: 100%;
}
hr {
    width: 100%;
    border: none;
    clear: both;
    border-top: 1px solid #ebedec;
    margin: 1em 0em;
}
hr:last-child, hr + hr  {
    display: none;
}
ul {
    list-style: disc inside;
    margin: 1em 2em;
    padding: 0em;
}
ul li > ul {
    list-style-type: circle;
}
ol {
    list-style: decimal inside;
    margin: 1em 2em;
    padding: 0em;
}
ol li > ol {
    list-style-type: lower-latin;
}
html[lang="ar"] ol li > ol {
    list-style-type: arabic-indic;
}
html[lang="he"] ol li > ol {
    list-style-type: hebrew;
}
dl {
    list-style: none;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-left: 1em;
}
ul#nav {
    display: none;
}
ul.navigation {
    list-style: none;
    font-size: 1em;
    box-sizing: border-box;
    margin: 0em 0em 2em 0em;
    padding: 0em;
    border: 1px solid #c6ccc8;
    border-left: none;
    border-right: none;
}
ul.navigation li {
    display: block;
    min-width: 4em;
    padding: 0.67em 0em;
    margin: 0em;
    white-space: normal;
    text-overflow: ellipsis;
    border-bottom: 1px solid #d2d9d4;
}
ul.navigation li:last-child {
    border-bottom: none;
}
ul.sidebar li {
    text-align: left;
    text-align: start;
    font-size: 0.75em;
}
ul#nav li {
    text-align: center;
    padding-top: 0em;
    padding-bottom: 0em;
    line-height: 3em;
}
ul.archive {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    gap: 1rem;
    margin: 1rem 0rem 0rem 0rem;
}
ul.archive li {
    margin: 0em;
    flex: none;
}
ol.comments {
    list-style: none;
    padding: 0em;
    margin: 0em;
}
ol.comments li {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0em;
    padding: 2rem 2rem 0rem 2rem;
    border-bottom: 1px solid #c6ccc8;
}
ol.comments label:first-child {
    margin-top:  0em;
}
ol.comments li:last-child {
    border-bottom: none;
}
ol.comments li#comment_shim {
    display: none;
}
ol.comments li.comment_form {
    padding: 2rem;
    background-color: #f2f1f0;
}
table {
    border-collapse: collapse;
    border-spacing: 0em;
    width: 100%;
    margin: 0em 0em 1em 0em;
    overflow-x: scroll;
}
table:last-child {
    margin-bottom: 0em;
}
table thead tr {
    background-color: #39434d;
    color: #ffffff;
    border: 1px solid #39434d;
}
table thead tr th {
    padding: 0.5em;
    font-weight: bold;
}
table tbody tr td {
    padding: 0.5em;
    border: 1px solid #39434d;
    vertical-align: middle;
}
form, fieldset {
    margin: 0em;
    padding: 0em;
    border: none;
}
form.search_box {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 2em;
}
form.comment_edit {
    width: 100%;
    background-color: transparent;
    margin-bottom: 0em;
    padding: 0rem 0rem 2rem 0rem;
    border: none;
}
select, input {
    box-sizing: border-box;
    display: block;
    width: 320px;
    margin: 0.5em 0em;
    padding: 0.4em;
    background: none;
    text-align: left;
    text-align: start;
    font: inherit;
    font-size: inherit;
    color: #4e5a66;
    background-color: #ffffff;
    border: 1px solid #c6ccc8;
    border-radius: 0em;
}
select:focus, input:focus {
    outline: none;
    background-color: #ffffff;
    border: 1px solid #4e5a66;
}
input:placeholder {
    color: #c6ccc8;
    opacity: 1;
}
input.error, input:invalid {
    background-color: #ffb2b2;
    box-shadow: none;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
}
input#search_field,
input#sidebar_search_field {
    display: inline;
    width: 100%;
    margin: 0em;
    padding-right: 38px;
}
textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 320px;
    font: inherit;
    font-size: inherit;
    color: #4e5a66;
    margin: 0.5em 0em;
    padding: 0.4em;
    background-color: #ffffff;
    border: 1px solid #c6ccc8;
    border-radius: 0em;
}
textarea:focus {
    outline: none;
    border: 1px solid #548eb8;
}
button {
    font: inherit;
    font-size: inherit;
    cursor: pointer;
}
button:focus {
    outline: none;
}
button#search_submit,
button#sidebar_search_submit {
    display: block;
    position: absolute;
    width: 38px;
    height: 100%;
    top: 0px;
    right: 0px;
    border: none;
    border-radius: 0em;
    margin: 0em;
    padding: 0em;
    background: transparent url(../images/search.svg) center no-repeat;
    background-size: 50%;
    overflow: hidden;
    color: transparent;
}
button#search_submit:focus,
button#sidebar_search_submit:focus {
    background-color: #c6ccc8;
}
button#search_submit:hover,
button#sidebar_search_submit:hover {
    background-size: 60%;
}
label {
    display: block;
    margin-top: 1em;
}
div.shim {
    margin-top: 2em;
}
div#mast {
    display: none;
    width: 100%;
    text-align: center;
}
div#main {
    width: 100%;
    margin: 0em;
    padding: 0em;
    overflow: visible;
}
div#sidebar {
    display: block;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 12rem;
}
div.prev {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
}
div.next, div.prev_next {
    width: 100%;
    text-align: center;
    margin-top: 2em;
}
div.ribbon {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #0070c4;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.2em;
}
div.flash {
    background-color: #0070c4;
}
div.metadata {
    font-weight: normal;
    font-size: 0.75em;
    font-style: italic;
    text-align: center;
    display: block;
    width: 100%;
    padding: 2rem 0rem;
    margin-top: 2rem;
    border-top: 1px solid #ebedec;
}
div.comments_pagination {
    width: 100%;
    text-align: center;
}
div.tags {
    margin: 1rem 0rem 0rem 0rem;
    font-size: 0.75em;
}
div.doaction {
    font-family: inherit;
    text-align: right;
    text-align: end;
    margin: 1em 0em;
}
div.doaction:last-child {
    margin-bottom: 0em;
}
div.admin, div.downloads {
    margin: 1em 0em 0em 0em;
}
div#main > article, div.standalone {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 1024px;
    background-color: #ffffff;
    margin: 0rem auto 2rem 0rem;
    padding: 2rem 2rem 0rem 2rem;
    border: 1px solid #c6ccc8;
    border-radius: 0.4em;
}
div#main > article:last-child {
    margin-bottom: 0rem;
}
div#main > article.post.pinned {
    border-color: #0070c4;
}
div#main > article.discourse {
    padding: 2rem;
    margin-top: 2rem;
}
div#main > article.commentary {
    padding: 0rem;
    margin-top: 2rem;
    overflow: hidden;
}
div#main > article.page {
    padding-bottom: 2rem;
}
div.standalone {
    margin-bottom: 0rem;
    padding-bottom: 2rem;
}
div.user_controls.standalone,
div.user_login.standalone,
div.lost_password.standalone,
div.user_register.standalone {
    max-width: 384px;
}
ul.archive article.post.archive {
    display: block;
    position: relative;
    width: 196px;
    height: 196px;
    font-size: 0.75em;
    padding: 8px;
    border: 1px solid #c6ccc8;
    border-radius: 6px;
}
div.post_archive_container {
    height: 100%;
    overflow: hidden;
}
article > header {
    display: block;
    width: 100%;
    margin: 0em;
    padding: 0em;
    border: none;
}
article > section {
    display: block;
    width: 100%;
    margin: 1em 0em 0em 0em;
    padding: 0em;
}
article > section:first-child {
    margin-top: 0em;
}
article section.comment {
    margin-bottom: 1em;
}
article > section.photo {
    width: 100%;
}
article > footer {
    display: block;
    width: 100%;
    text-align: left;
    text-align: start;
    margin: 0em 0em 1em 0em;
    padding: 0em;
    border: none;
}
article > footer:last-child {
    margin: 0em;
}
article.video video,
article.audio audio {
    width: 100%;
}
a {
    border-bottom: 1px transparent solid;
}
a:link, a:visited {
    color: #5c6773;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    outline: none;
    color: #0070c4;
    text-decoration: none;
    border-bottom: 1px #0070c4 solid;
}
h3.ribbon a {
    color: #ffffff;
    font-weight: bold;
}
h3.ribbon a:hover,
h3.ribbon a:focus,
h3.ribbon a:active {
    border-bottom: 1px #ffffff solid;
}
div.traversal a {
    display: inline-block;
    padding: 0.4em 1.2em;
    margin: 0em 0.5rem;
    min-width: 8em;
    color: #ffffff;
    background-color: #5c6773;
    border: none;
    border-radius: 0.4em;
}
div.traversal a:hover,
div.traversal a:focus,
div.traversal a:active {
    color: #ffffff;
    background-color: #0070c4;
}
div.traversal a:first-child {
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}
div.traversal a:last-child {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
section a:link, p a:link,
section a:visited, p a:visited {
    color: #5c6773;
    border-bottom: 1px #c6ccc8 solid;
}
section a:hover, p a:hover,
section a:focus, p a:focus,
section a:active, p a:active {
    color: #0070c4;
}
div.tags a,
div.tag_cloud a {
    display: inline-block;
    padding: 0.2em 0.4em;
    margin-bottom: 4px;
    border: none;
    border-radius: 0.2em;
    color: #39434d;
    border: 1px #c6ccc8 solid;
}
div.tags a:hover,
div.tags a:focus,
div.tags a:active,
div.tag_cloud a:hover,
div.tag_cloud a:focus,
div.tag_cloud a:active {
    color: #000000;
    background-color: #7ac2e5;
    border: 1px #7ac2e5 solid;
}
div.doaction a, button {
    display: inline-block;
    white-space: nowrap;
    padding: 0.4em 1.2em;
    border-radius: 2em;
    color: #39434d;
    background-color: #ffffff;
    border: 1px #c6ccc8 solid;
}
div.doaction a:hover, button:hover,
div.doaction a:focus, button:focus,
div.doaction a:active, button:active {
    color: #000000;
    background-color: #7ac2e5;
    border: 1px #7ac2e5 solid;
}
div.doaction a.post_delete_link,
div.doaction a.delete_link {
    font-weight: bold;
}
article > section.photo > a {
    border-bottom: none;
}
article > section.photo > a:focus {
    outline: #0070c4 solid 4px;
}
a.likes > img {
    display: inline-block;
    position: relative;
    top: 0px;
}
a.likes:hover > img,
a.likes:focus > img,
a.likes:active > img {
    top: 1px;
}
a.archive_post_link {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border-radius: 6px;
    color: transparent;
    background-color: transparent;
}
a.archive_post_link:hover,
a.archive_post_link:focus,
a.archive_post_link:active {
    outline: #0070c4 solid 4px;
}
iframe {
    width: 100%;
    height: auto;
    border: none;
    margin: 1rem 0rem;
}
iframe.video_embed {
    max-height: 538px;
    height: calc((100vw - 22rem) * 0.5625);
}
body.preview iframe.video_embed {
    height: auto;
}
img {
    border-style: none;
    margin: 0em;
    padding: 0em;
}
section img {
    display:  block;
    max-width: 100%;
}
section.photo img,
article.archive img {
    width: 100%;
}
.ajax_loading {
    background-size: 30px 30px;
    background-image: linear-gradient(-45deg,
        #f2f1f0 25%,
        transparent 25%,
        transparent 50%,
        #f2f1f0 50%,
        #f2f1f0 75%,
        transparent 75%,
        transparent) !important;
    animation: ajax_loading 2s linear infinite;
}
.ajax_loading .doaction {
    visibility: hidden;
}
@keyframes ajax_loading {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: 60px 30px;
    }
}
@media print {
    html {
        font-size: 4.2mm;
    }
    body {
        background-color: #ffffff;
    }
    div#main > article,
    div.standalone {
        background-color: #ffffff;
        page-break-inside: avoid;
    }
    ol.comments li.comment_form {
       background-color: #ffffff; 
    }
}
@media screen and (max-width: 959px) {
    body {
        margin: 0rem 1rem 1rem 1rem;
    }
    body.mobile_nav {
        margin-bottom: 5rem;
    }
    h2 {
        font-size: 1.25em;
        margin: 0.8em 0em;
    }
    h6.post_byline {
        padding-bottom: 1rem;
    }
    blockquote {
        padding: 0em 1em;
    }
    form.comment_edit {
        padding: 0rem 0rem 1rem 0rem;
    }
    input, select {
        width: 100%;
    }
    input#search_field,
    input#sidebar_search_field {
        width: 12em;
    }
    ol.comments li {
        margin: 0em;
        padding: 1rem 1rem 0rem 1rem;
    }
    ol.comments li.comment_form {
        padding: 1rem;
    }
    ul#nav {
        display: block;
        margin: 2em 0em 0em 0em;
    }
    ul#nav li#mobile_toggle {
        display: none;
    }
    ul#nav.mobile_nav {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        padding: 0em;
        background-color: #fcfbfa;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-radius: 0em;
    }
    ul#nav.mobile_nav li {
        height: 0em;
        overflow: hidden;
        border-bottom: none;
        box-sizing: border-box;
        transition: height 250ms ease 125ms, border-bottom 0ms 125ms;
    }
    ul#nav.mobile_nav.on li,
    ul#nav.mobile_nav li#mobile_toggle {
        display: block;
        height: 3em;
        border-bottom: 1px solid #d2d9d4;
    }
    ul#nav.mobile_nav.on li#mobile_toggle {
        height: 0em;
        border-bottom: none;
        transition: height 125ms ease 0s;
    }
    div#mast {
        display: block;
    }
    div#sidebar {
        display: none;
    }
    div#tail {
        display: block;
    }
    div#main > article {
        padding: 1rem 1rem 0rem 1rem;
    }
    div.standalone {
        padding: 1rem;
    }
    div.user_controls.standalone,
    div.user_login.standalone,
    div.lost_password.standalone,
    div.user_register.standalone {
        margin-left: auto;
    }
    div#main > article hr, div.standalone hr {
        position: relative;
        left: -1rem;
        padding: 0rem 1rem;
    }
    div.metadata {
        margin-top: 1rem;
        padding: 1rem 0rem;
    }
    iframe.video_embed {
        height: calc((100vw - 4rem) * 0.5625);
    }
}
@media screen and (max-width: 559px) {
    ul.archive li {
        flex: 100%;
    }
    ul.archive article.post.archive {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin-left: 0em;
    }
    ul.archive article.post.archive img {
        width: 100%;
    }
}
