@import url('all.css');

body {                          background-color: #ffffff;
                                margin: 2em }
div#sidebar, div#tail,
div.prev, div.next {            display: none }
div.main > article,
div.standalone {                background-color: #ffffff;
                                page-break-inside: avoid;
                                border: 0.1em solid #c6ccc8 }