{% extends "content/post.twig" %}

{% block content %}
      <h2>
        <a href="$post.source" class="link">$post.name</a>
      </h2>
      <section{% if post.body | length > 800 %} class="columnized"{% endif %}>
        ${ post.description | read_more("…more") }
      </section>
{% endblock %}
