{% extends "content/post.twig" %}

{% block content %}
      <h2 class="post_title">
        <a href="${ post.source | strip_tags | escape(true) }" class="link">$post.name</a>
      </h2>
      <section class="description{% if post.description | length > 1000 %} columnized{% endif %}">
        ${ post.description | read_more("&hellip;more") }
      </section>
{% endblock %}
