{% extends "layout.twig" %}

{% block title %}${ "Feathers" | translate }{% endblock %}

{% block content %}
            <h2>${ "Feather" | translate }</h2>
            <ul id="feathers_enabled" class="extend feathers">
                <h5>${ "Enabled" | translate }</h5>
                {% for safename, feather in enabled_feathers | items %}
                <li class="${ feather.classes | join(" ") }" id="feather_$safename">
                    <h3>
                        <a class="emblem feather_disabler" href="{% admin "disable&feather="~safename %}" title="${ "Disable" | translate }">
                            <img src="$theme_url/images/icons/deny.svg" alt="${ "Disable" | translate }">
                        </a>
                        <a class="emblem feather_enabler" href="{% admin "enable&feather="~safename %}" title="${ "Enable" | translate }">
                            <img src="$theme_url/images/icons/add.svg" alt="${ "Enable" | translate }">
                        </a>
                        <a class="emblem feather_author" href="$feather.author.url">
                            <img src="$theme_url/images/icons/info.svg" alt="${ feather.author.url | escape }">
                        </a>
                        ${ "<a href=\"%s\">%s</a> v%s" | translate | format(feather.url, feather.name | translate(safename), feather.version) }
                    </h3>
                    {% if feather.help %}
                    <a href="{% admin "help&id="~feather.help %}" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="Help"></a>
                    {% endif %}
                    <p class="feather_description">
                    $feather.description {# translation is done in the controller #}
                </li>
                {% endfor %}
            </ul>
            </ul>
            <ul id="feathers_disabled" class="extend feathers">
                <h5>${ "Disabled" | translate }</h5>
                {% for safename, feather in disabled_feathers | items %}
                <li class="${ feather.classes | join(" ") }" id="feather_$safename">
                    <h3>
                        <a class="emblem feather_disabler" href="{% admin "disable&feather="~safename %}" title="${ "Disable" | translate }">
                            <img src="$theme_url/images/icons/deny.svg" alt="${ "Disable" | translate }">
                        </a>
                        <a class="emblem feather_enabler" href="{% admin "enable&feather="~safename %}" title="${ "Enable" | translate }">
                            <img src="$theme_url/images/icons/add.svg" alt="${ "Enable" | translate }">
                        </a>
                        <a class="emblem feather_author" href="$feather.author.url">
                            <img src="$theme_url/images/icons/info.svg" alt="${ feather.author.url | escape }">
                        </a>
                        ${ "<a href=\"%s\">%s</a> v%s" | translate | format(feather.url, feather.name | translate(safename), feather.version) }
                    </h3>
                    {% if feather.help %}
                    <a href="{% admin "help&id="~feather.help %}" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="Help"></a>
                    {% endif %}
                    <p class="feather_description">
                    $feather.description {# translation is done in the controller #}
                </li>
                {% endfor %}
            </ul>
            <hr class="extend">
{% endblock %}
