{% extends "layout.twig" %}

{% block title %}${ "Manage Pages" | translate }{% endblock %}

{% block content %}
            <form class="detail" action="index.php" method="get" accept-charset="utf-8">
                <fieldset>
                    <input type="hidden" name="action" value="manage_pages">
                    <div role="search" class="detail_single">
                        <h3>
                            ${ "Search&hellip;" | translate }
                            <a href="{% admin "help&id=filtering_results" %}" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="help"></a>
                        </h3>
                        <input class="text" type="text" name="query" value="${ GET.query | escape }" id="query">
                        <button type="submit">${ "Search" | translate }</button>
                    </div>
                </fieldset>
            </form>
            <h2>{% if GET.query %}${ "Search Results" | translate }{% else %}${ "Last 25 Pages" | translate }{% endif %}</h2>
            <table>
                <thead>
                    <tr class="head">
                        <th class="page_title">${ "Title" | translate }</th>
                        <th class="page_created">${ "Created" | translate }</th>
                        <th class="page_updated">${ "Last Updated" | translate }</th>
                        <th class="page_public">${ "Public?" | translate }</th>
                        <th class="page_show">${ "Listed?" | translate }</th>
                        <th class="page_author">${ "Author" | translate }</th>
                        ${ trigger.call("manage_pages_column_header") }
                        <th class="controls" colspan="2">${ "Controls" | translate }</th>
                    </tr>
                </thead>
                <tbody>
                {% for page in pages.paginated %}
                    <tr id="page_$page.id" class="page">
                        <td class="page_title main">
                            <a href="$page.url">${ page.title | truncate }</a>
                        </td>
                        <td class="page_created">
                            ${ page.created_at | strftime }
                        </td>
                        <td class="page_updated">
                            {% if page.updated %}${ page.updated_at | strftime }{% else %}<span class="sub">${ "never" | translate }</span>{% endif %}
                        </td>
                        <td class="page_public">
                            {% if page.public %}<img class="emblem" src="$theme_url/images/icons/success.svg" alt="${ "yes" | translate }">
                            {% else %}&nbsp;
                            {% endif %}
                        </td>
                        <td class="page_show">
                            {% if page.show_in_list %}<img class="emblem" src="$theme_url/images/icons/success.svg" alt="${ "yes" | translate }">
                            {% else %}&nbsp;
                            {% endif %}
                        </td>
                        <td class="page_author">
                            $page.user.login
                        </td>
                        ${ trigger.call("manage_pages_column", page) }
                        {% if page.editable and page.deletable %}
                        <td class="controls">${ page.edit_link('<img src="'~ theme_url ~'/images/icons/edit.svg" alt="'~ ("edit" | translate) ~'">') }</td>
                        <td class="controls">${ page.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="'~ ("delete" | translate) ~'">') }</td>
                        {% else %}
                        ${ page.edit_link('<img src="'~ theme_url ~'/images/icons/edit.svg" alt="'~ ("edit" | translate) ~'">', '<td class="controls" colspan="2">', '</td>') }
                        ${ page.delete_link('<img src="'~ theme_url ~'/images/icons/delete.svg" alt="'~ ("delete" | translate) ~'">', '<td class="controls" colspan="2">', '</td>') }
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="100%" class="center"><span class="sub">${ "(none)" | translate }</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if pages.paginated and pages.pages > 1 %}
            <div class="pagination">
                $pages.prev_link
                <span class="pages">${ "Page %d of %d" | translate | format(pages.page, pages.pages) }</span>
                $pages.next_link
            </div>
            {% endif %}
{% endblock %}
