{% extends "layout.twig" %}

{% block title %}${ "Modules" | translate }{% endblock %}

{% block content %}
            <h2>${ "Modules" | translate }</h2>
            <ul id="modules_enabled" class="extend modules">
                <h5>${ "Enabled" | translate }</h5>
                {% for safename, module in enabled_modules | items %}
                <li class="${ module.classes | join(" ") }" id="module_$safename">
                    <h3>
                        <a class="emblem module_toggle" href="{% admin "disable&module="~safename %}" title="${ "Disable" | translate }">
                            <img src="$theme_url/images/icons/deny.svg" alt="${ "Disable" | translate }">
                        </a>
                        <img class="emblem module_status" src="$theme_url/images/icons/success.svg" alt="Conflicts: 0" title="${ "Status" | translate }">
                        <a class="emblem module_author" href="$module.author.url">
                            <img src="$theme_url/images/icons/info.svg" alt="${ module.author.url | escape }">
                        </a>
                        ${ "<a href=\"%s\">%s</a> v%s" | translate | format(module.url, module.name | translate(safename), module.version) }
                    </h3>
                    {% if module.help %}
                    <a href="{% admin "help&id="~module.help %}" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="Help"></a>
                    {% endif %}
                    <p class="module_description">
                    $module.description {# translation is done in the controller #}
                    {% if module.dependencies_needed %}
                    <p class="module_dependencies_message">
                        ${ "This Module requires the following Modules to be enabled:" | translate }
                    </p>
                    <ul class="module_dependencies_list">
                    {% for dependency in module.dependencies_needed %}
                        <li class="$dependency">$dependency</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <ul id="modules_disabled" class="extend modules">
                <h5>${ "Disabled" | translate }</h5>
                {% for safename, module in disabled_modules | items %}
                <li class="${ module.classes | join(" ") }" id="module_$safename">
                    <h3>
                        {% if not module.dependencies_needed %}
                        <a class="emblem module_toggle" href="{% admin "enable&module="~safename %}" title="${ "Enable" | translate }">
                            <img src="$theme_url/images/icons/add.svg" alt="${ "Enable" | translate }">
                        </a>
                        {% endif %}
                        <img class="emblem module_status" src="$theme_url/images/icons/success.svg" alt="Conflicts: 0" title="${ "Status" | translate }">
                        <a class="emblem module_author" href="$module.author.url">
                            <img src="$theme_url/images/icons/info.svg" alt="${ module.author.url | escape }">
                        </a>
                        ${ "<a href=\"%s\">%s</a> v%s" | translate | format(module.url, module.name | translate(safename), module.version) }
                    </h3>
                    {% if module.help %}
                    <a href="{% admin "help&id="~module.help %}" class="help emblem"><img src="$theme_url/images/icons/help.svg" alt="Help"></a>
                    {% endif %}
                    <p class="module_description">
                    $module.description {# translation is done in the controller #}
                    {% if module.dependencies_needed %}
                    <p class="module_dependencies_message">
                        ${ "This Module requires the following Modules to be enabled:" | translate }
                    </p>
                    <ul class="module_dependencies_list">
                    {% for dependency in module.dependencies_needed %}
                        <li class="$dependency">$dependency</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <hr class="extend">
{% endblock %}
