{% extends "layout.twig" %}

{% block title %}${ "Themes" | translate }{% endblock %}

{% block content %}
            <ul id="blog_themes" class="extend themes">
                <h5>${ "Blog Themes" | translate }</h5>
                {% for theme in themes %}
                <li class="theme {% if theme.name == site.theme %}current{% endif %}" id="$theme.name">
                    <img src="$theme.screenshot" alt="${ ('"' ~ theme.info.name ~ '"') | escape } screenshot" class="screenshot">
                    <h3>
                        <a class="emblem module_author" href="$theme.info.url">
                            <img src="$theme_url/images/icons/info.svg" alt="${ theme.info.url | escape }">
                        </a>
                        ${ "%s v%s" | translate | format(theme.info.name | translate(theme.name), theme.info.version) }
                    </h3>
                    <div class="controls">
                        <a class="button" href="{% admin "change_theme&theme=" ~ theme.name %}">
                            <img src="$theme_url/images/icons/appearance.svg" alt="Select">${ "Select" | translate }
                        </a>
                        <a class="button${ preview | selected(theme.name, true) }" href="{% admin "preview_theme&theme=" ~ theme.name %}">
                            <img src="$theme_url/images/icons/magnifier.svg" alt="Preview">${ "Preview" | translate }
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <ul id="admin_themes" class="extend themes">
                <h5>${ "Admin Themes" | translate }</h5>
                {% for theme in admin_themes %}
                <li class="theme {% if theme.name == admin_theme %}current{% endif %}" id="$theme.name">
                    <img src="$theme.screenshot" alt="${ ('"' ~ theme.info.name ~ '"') | escape } screenshot" class="screenshot">
                    <h3>
                        <a class="emblem module_author" href="$theme.info.url">
                            <img src="$theme_url/images/icons/info.svg" alt="${ theme.info.url | escape }">
                        </a>
                        ${ "%s v%s" | translate | format(theme.info.name | translate(theme.name), theme.info.version) }
                    </h3>
                    <div class="controls">
                        <a class="button" href="% admin "change_admin_theme&theme=" ~ theme.name %}">
                            <img src="$theme_url/images/icons/appearance.svg" alt="Select">${ "Select" | translate }
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
{% endblock %}
