{% extends "layout.twig" %}

{% block title %}${ "Add Page" | translate }{% endblock %}

{% block content %}
            <form id="write_form" action="{% admin "add_page" %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                <fieldset>
{% include "partials/page_fields.twig" %}

                    <input type="hidden" name="hash" value="$site.secure_hashkey" id="hash" />
                </fieldset>
            </form>
{% endblock %}
