{% extends "layout.twig" %}

{% block title %}${ "Recaptcha Settings" | translate("recaptcha") }{% endblock %}

{% block content %}
            <form id="recaptcha_settings" class="split" action="{% admin "recaptcha_settings" %}" method="post">
                <fieldset>
                    <p>
                        <label for="public_key">${ "Public Key" | translate("recaptcha") }</label>
                        <input class="text" type="text" name="public_key" value="${ site.module_recaptcha["public_key"] | escape }" id="public_key">
                    </p>
                    <p>
                        <label for="private_key">${ "Private Key" | translate("recaptcha") }</label>
                        <input class="text" type="text" name="private_key" value="${ site.module_recaptcha["private_key"] | escape }" id="private_key">
                    </p>
                    <p class="buttons">
                        <button type="submit" class="yay"><img src="$theme_url/images/icons/success.svg" alt="success">${ "Update" | translate }</button>
                    </p>
                    <input type="hidden" name="hash" value="${ ip | token }" id="hash">
                </fieldset>
            </form>
{% endblock %}
