{% extends "layouts/default.twig" %}

{% block content %}
{% for post in posts.paginated %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% else %}
<h3 role="status" class="filter">{{ "No posts" | translate }}</h3>
{% endfor %}
{% endblock %}
