{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
{% if reason is not defined %}{# Some modules define reason in error states #}
{% for post in posts.paginated %}
{% include "feathers" ~ DIR ~ post.feather ~ ".twig" %}
{% else %}
<h3 role="status" class="filter">{{ "No posts" | translate }}</h3>
{% endfor %}
{% endif %}
{% endblock %}
