{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
{% if posts.paginated is not empty %}
<div role="status" class="filter">{{ "Search results for &#8220;%s&#8221;" | translate | format(search | fix) }}</div>
{% else %}
<div class="filter">{{ "Your search did not return any results." | translate }}</div>
{% endif %}
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% endfor %}
{% endblock %}
