<!DOCTYPE html>
<html lang="{{ site.locale | lang_base }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ theme.url }}/stylesheets/all.css" type="text/css" media="all">
<title>{{ title }}</title>
</head>
<body class="preview">
<section>
{{ content }}
</section>
</body>
</html>
